In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/data-science-jobs-in-india/Data_Science_Jobs_in_India.csv

In [2]:
df = pd.read_csv("/kaggle/input/data-science-jobs-in-india/Data_Science_Jobs_in_India.csv")
df

,Unnamed: 0,company_name,job_title,min_experience,avg_salary,min_salary,max_salary,num_of_salaries
0,0,TCS,Data Scientist,2,7.8L,4.5L,16.0L,841
1,1,Accenture,Data Scientist,2,12.8L,5.8L,23.0L,501
2,2,IBM,Data Scientist,2,13.4L,5.3L,25.0L,394
3,3,Cognizant,Data Scientist,2,9.8L,5.0L,18.0L,318
4,4,Capgemini,Data Scientist,2,8.6L,4.8L,14.6L,300
...,...,...,...,...,...,...,...,...
1597,1597,Collabera Technologies,Data Architect,8,17.0L,12.0L,23.1L,4
1598,1598,Coforge,Data Architect,7,27.1L,18.5L,39.0L,4
1599,1599,Hitachi,Data Architect,21,40.0L,25.0L,50.0L,3
1600,1600,GE Power,Data Architect,7,16.7L,14.9L,19.0L,3
1601,1601,T-Systems,Data Architect,16,33.3L,33.0L,34.0L,3



### Experience vs. Salary:

Is there a relationship between the minimum experience required and the average salary offered?

How does the minimum experience required vary across different job titles?

### Salary Range Analysis:

How does the salary range (min_salary to max_salary) vary across different companies?

Are there any outliers in terms of salary offered by specific companies?

### Job Title Analysis:

Which job titles are the most common in the dataset?

Is there a difference in salary offered between different job titles?

How does the distribution of job titles vary across companies?

### Company Analysis:

Which companies offer the highest average salary for data science roles?

How does the number of reported salaries vary across different companies?

### Salary Distribution:

What is the distribution of salaries across different experience levels?

How does the salary distribution vary across different job titles?

### Trend Analysis:

Is there any trend in the average salary offered over the years (if your dataset includes a date)?

Are there any seasonal trends in hiring or salary offered?

### Correlation Analysis:

Is there any correlation between the number of reported salaries and the average salary offered?

Is there any correlation between the minimum experience required and the average salary offered?

### Visualization:

Create histograms or density plots to visualize the distribution of salaries, experience, and number of salaries.

Use scatter plots to visualize the relationship between variables like experience and salary.

### Geographical Analysis (if applicable):

Are there any regional differences in the average salary offered or the number of data science jobs?
Which cities have the highest concentration of data science jobs?

### (A) Descriptive Statistics:

What is the average, minimum, and maximum salary offered for data science jobs in India?

In [6]:
import pandas as pd

# Assuming your dataset is stored in a DataFrame named 'df'
# Filter the dataset for data science job titles
data_science_jobs = df[df['job_title'].isin(['Data Scientist', 'Senior Data Scientist', 'Machine Learning Engineer', 'Data Engineer', 'Data Analyst', 'Data Architect'])]

# Calculate the average, minimum, and maximum salary offered
average_salary = data_science_jobs['avg_salary'].mean()
min_salary = data_science_jobs['min_salary'].min()
max_salary = data_science_jobs['max_salary'].max()

print("Average Salary for Data Science Jobs in India:", average_salary)
print("Minimum Salary for Data Science Jobs in India:", min_salary)
print("Maximum Salary for Data Science Jobs in India:", max_salary)

TypeError: Could not convert string '7.8L12.8L13.4L9.8L8.6L9.3L9.7L7.6L15.9L14.2L14.6L9.8L28.1L14.8L7.4L20.6L11.6L14.8L16.6L12.4L10.6L28.3L10.0L32.1L12.2L16.6L14.4L15.6L14.2L11.4L20.9L27.7L20.5L14.0L17.7L13.4L15.3L9.3L10.4L16.9L16.3L21.9L10.5L12.6L17.4L14.3L9.0L10.7L23.2L4.5L14.1L7.7L14.1L18.2L8.9L14.1L4.9L16.0L19.2L11.4L9.7L10.5L15.4L14.1L9.3L14.3L10.4L12.1L7.1L19.0L11.9L17.0L12.9L15.1L9.0L14.9L14.2L19.2L13.5L19.6L11.9L12.5L8.0L13.0L16.9L23.6L8.1L9.4L9.4L5.1L14.4L11.5L16.2L9.8L8.2L22.8L11.7L12.6L9.7L10.9L9.8L10.8L10.4L12.8L11.9L10.2L8.5L6.9L4.7L9.1L8.2L10.9L7.7L17.3L14.6L13.0L9.3L5.2L8.3L4.7L17.9L13.0L8.5L6.6L7.0L11.5L10.5L14.0L20.6L14.0L16.4L9.6L20.3L14.6L20.9L18.2L7.9L8.6L9.7L23.4L13.9L8.7L29.4L10.4L14.6L19.4L18.4L9.3L9.4L14.1L12.1L7.5L16.6L6.7L13.6L23.2L9.8L8.7L17.4L18.5L15.6L15.0L8.1L12.2L30.5L14.3L12.1L15.2L9.8L8.5L33.6L14.7L7.9L11.2L27.7L8.6L12.1L15.9L13.8L6.4L14.5L11.1L10.2L18.1L16.7L21.9L16.0L16.9L4.7L5.5L5.2L4.6L4.8L2.5L4.6L5.2L5.7L4.5L2.5L7.6L5.8L5.9L4.7L12.8L3.9L7.6L3.1L2.5L1.7L10.7L2.0L4.3L9.2L2.4L5.6L5.8L1.8L8.8L3.4L2.7L8.0L5.4L3.0L6.3L6.3L5.0L6.7L5.2L9.6L7.3L4.6L4.6L4.9L13.9L10.0L4.2L4.4L8.8L6.6L4.0L12.2L3.6L5.2L6.6L2.1L2.6L4.6L3.3L5.8L4.4L5.7L1.9L11.5L2.2L5.8L5.8L15.5L4.4L1.6L5.6L5.1L10.3L3.3L6.5L3.1L5.0L2.6L4.1L5.8L3.3L3.5L9.5L6.5L2.2L7.8L3.5L6.0L2.4L9.4L1.4L3.1L5.0L11.2L10.3L3.4L4.2L2.2L8.2L3.7L4.2L4.6L3.9L6.3L10.4L3.4L4.7L9.6L2.7L4.1L7.4L4.6L9.0L9.0L4.3L1.7L13.3L6.0L5.0L2.5L5.0L3.7L3.8L5.8L5.5L9.6L5.4L7.9L10.6L13.0L3.0L2.1L3.8L6.4L6.0L9.9L3.8L7.0L1.8L4.2L9.9L3.7L7.7L2.6L2.5L2.6L4.8L5.1L2.9L2.9L10.2L5.9L6.2L7.0L7.0L3.7L4.8L5.3L5.6L11.4L15.3L7.9L3.7L7.4L6.0L1.9L2.0L5.5L9.4L11.9L6.3L4.0L4.1L3.9L7.3L2.3L13.9L2.1L1.5L8.8L17.2L3.2L9.8L4.2L5.5L2.1L5.8L10.4L5.7L9.0L7.5L2.1L7.4L5.5L11.8L6.6L22.0L10.4L6.5L6.0L6.6L11.8L22.1L11.1L17.2L9.0L9.5L14.0L13.6L12.6L12.8L17.0L10.3L6.8L21.6L9.5L6.4L10.6L12.8L12.9L7.7L11.7L8.4L8.2L13.5L5.8L18.7L16.8L10.9L4.0L15.1L10.1L5.5L10.4L10.0L12.3L9.8L9.0L13.6L23.6L12.1L16.5L12.8L8.9L5.5L25.1L8.2L5.5L9.7L9.7L20.4L9.7L12.2L7.7L15.2L10.3L18.5L19.3L15.4L10.3L13.9L4.2L6.6L12.9L12.3L10.5L7.3L5.1L13.1L7.2L13.7L23.7L19.9L9.5L6.8L15.0L10.8L11.2L11.7L13.1L6.7L10.5L4.1L16.5L10.5L9.3L7.3L8.1L11.1L45.3L12.8L9.3L8.9L15.1L20.5L10.1L17.5L9.8L3.7L12.9L8.4L27.6L5.9L23.0L10.7L6.9L8.5L6.1L10.1L11.6L6.8L17.9L11.5L7.9L21.3L12.8L12.3L13.3L16.3L11.4L2.1L9.9L7.4L18.4L10.6L10.5L13.1L12.0L9.7L7.1L11.4L28.7L8.0L9.7L5.3L12.6L23.1L13.3L8.2L11.8L2.3L26.5L3.3L11.5L25.0L4.0L13.1L11.1L17.3L12.3L10.7L17.2L13.5L13.3L14.6L18.1L11.4L10.7L5.0L17.3L13.0L10.2L7.5L15.0L11.2L10.5L4.1L15.7L11.9L14.8L8.0L15.0L12.4L9.0L18.9L16.7L17.9L25.6L28.0L16.1L21.2L43.0L41.5L23.0L21.4L26.2L13.4L18.9L24.4L23.8L18.1L14.7L30.2L56.4L19.3L16.8L15.4L14.3L16.4L9.9L23.7L16.0L20.0L30.0L21.1L15.0L25.0L31.6L24.1L9.9L25.2L16.4L17.1L40.7L22.8L18.6L17.6L18.4L15.3L23.1L21.2L19.5L18.0L17.8L23.1L24.2L11.7L27.7L25.5L28.0L22.5L15.3L14.4L17.6L14.8L21.2L23.2L12.3L19.7L20.7L18.4L12.1L21.1L30.5L22.7L18.0L27.1L17.8L27.4L22.2L23.2L20.6L18.3L30.9L22.5L26.8L16.5L22.1L23.0L21.4L18.0L13.3L8.7L14.5L16.9L18.4L27.3L22.6L20.6L20.2L25.1L20.0L18.9L18.6L21.5L26.7L29.8L18.2L18.2L10.3L23.1L24.1L28.9L28.3L13.9L15.2L23.3L15.3L14.5L23.2L14.3L31.6L28.3L25.0L18.1L31.0L32.1L17.8L36.6L16.2L8.5L11.9L21.3L18.9L10.0L19.7L31.7L22.4L20.8L18.4L12.0L27.3L22.8L24.4L15.6L18.8L39.7L34.4L21.2L27.6L82.0L14.9L19.0L23.6L27.4L31.7L14.9L25.2L20.2L24.6L16.8L12.3L20.2L39.6L21.7L18.0L22.7L29.5L18.2L16.6L11.8L30.4L44.4L24.6L32.2L29.0L22.8L17.5L38.4L12.8L40.0L14.1L22.2L25.1L11.5L20.4L28.0L31.8L26.9L5.8L11.2L9.9L5.9L13.6L6.3L6.7L8.0L8.3L7.3L9.3L13.7L12.5L19.4L5.6L5.3L5.1L11.8L17.4L7.3L6.7L9.2L9.3L4.5L9.4L16.9L5.1L10.9L9.6L5.3L3.7L3.6L5.8L20.7L16.8L6.1L3.6L4.7L12.1L19.4L11.9L7.4L6.3L4.8L9.1L6.6L11.7L19.4L3.7L5.1L4.4L24.8L12.6L16.1L10.9L23.3L5.1L10.0L14.4L24.6L19.9L11.2L19.6L19.6L20.2L21.2L22.6L17.3L23.1L26.8L32.6L23.9L19.8L35.1L26.1L23.5L27.6L33.6L25.5L19.8L22.8L22.5L30.4L17.5L25.8L28.6L12.5L20.5L20.9L21.6L27.6L35.7L50.6L19.0L12.0L33.1L25.5L24.8L29.8L36.5L28.3L29.8L29.0L21.8L17.0L27.1L40.0L16.7L33.3L' to numeric

What is the distribution of the number of salaries reported?

What is the distribution of job titles and companies in the dataset?