In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/ipl-mens-cricket-matches-data-2008-2023/match_data.csv
/kaggle/input/ipl-mens-cricket-matches-data-2008-2023/match_info_data.csv

Let's see the data.

In [2]:
match_data_df = pd.read_csv("/kaggle/input/ipl-mens-cricket-matches-data-2008-2023/match_data.csv",low_memory=False)
match_data_df

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
0,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
1,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.2,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
2,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.3,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
3,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.4,Gujarat Titans,Chennai Super Kings,Shubman Gill,WP Saha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
4,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.5,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.5,Royal Challengers Bangalore,Kolkata Knight Riders,P Kumar,SB Joshi,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,335982
243813,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.6,Royal Challengers Bangalore,Kolkata Knight Riders,SB Joshi,P Kumar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,335982
243814,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.7,Royal Challengers Bangalore,Kolkata Knight Riders,P Kumar,SB Joshi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,335982
243815,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.1,Royal Challengers Bangalore,Kolkata Knight Riders,SB Joshi,P Kumar,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,335982
243816,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.2,Royal Challengers Bangalore,Kolkata Knight Riders,SB Joshi,P Kumar,...,NaN,NaN,NaN,NaN,NaN,caught,SB Joshi,NaN,NaN,335982

In [3]:
match_info_data = pd.read_csv("/kaggle/input/ipl-mens-cricket-matches-data-2008-2023/match_info_data.csv")
match_info_data

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1370353,2023,Ahmedabad,2023/05/29,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,D/L,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan
1,1370352,2023,Ahmedabad,2023/05/26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,normal,0,Gujarat Titans,62,0,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,J Madanagopal
2,1370351,2023,Chennai,2023/05/24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,normal,0,Mumbai Indians,81,0,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",BNJ Oxenford,VK Sharma,CB Gaffaney
3,1370350,2023,Chennai,2023/05/23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,normal,0,Chennai Super Kings,15,0,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",AK Chaudhary,CB Gaffaney,BNJ Oxenford
4,1359543,2023,Mumbai,2023/05/21,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,C Green,"Wankhede Stadium, Mumbai",KN Ananthapadmanabhan,RJ Tucker,R Pandit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,335986,2007/08,Kolkata,2008/04/20,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,Asad Rauf
1020,335985,2007/08,Mumbai,2008/04/20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,AV Jayaprakash
1021,335984,2007/08,Delhi,2008/04/19,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,IL Howell
1022,335983,2007/08,Chandigarh,2008/04/19,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,RB Tiffin
1023,335982,2007/08,Bangalore,2008/04/18,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,AM Saheba

Here, we have two dataframes.

First, we have the ball by ball data for every IPL match played between 2008-2023.

Second, we have all the information about the IPL matches.

We will do the analysis on the "match_info_data" dataframe which contains the information about the IPL matches.

In [4]:
match_info_data.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1370353,2023,Ahmedabad,2023/05/29,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,D/L,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan
1,1370352,2023,Ahmedabad,2023/05/26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,normal,0,Gujarat Titans,62,0,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,J Madanagopal
2,1370351,2023,Chennai,2023/05/24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,normal,0,Mumbai Indians,81,0,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",BNJ Oxenford,VK Sharma,CB Gaffaney
3,1370350,2023,Chennai,2023/05/23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,normal,0,Chennai Super Kings,15,0,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",AK Chaudhary,CB Gaffaney,BNJ Oxenford
4,1359543,2023,Mumbai,2023/05/21,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,C Green,"Wankhede Stadium, Mumbai",KN Ananthapadmanabhan,RJ Tucker,R Pandit

Let's see the total number of matches played between 2008-2023.

In [5]:
len(match_info_data)

1024

There were 1024 IPL matches played between 2008 to 2023.

Let's see the seaseon wise matches played.

In [6]:
print("Columns are :",list(match_info_data.columns))

Columns are : ['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner', 'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs', 'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2', 'umpire3']

In [7]:
import pandas as pd

# Assuming match_info_data is your DataFrame
sorted_season_counts = match_info_data["season"].value_counts().reset_index().sort_values(by='season')

sorted_season_counts

     season  count
14  2007/08     58
15     2009     57
11  2009/10     60
4      2011     73
3      2012     74
0      2013     76
10     2014     60
13     2015     59
9      2016     60
12     2017     59
8      2018     60
7      2019     60
6   2020/21     60
5      2021     60
2      2022     74
1      2023     74

General Overview:

How many matches are there in the dataset?

How many unique seasons are represented in the dataset?

What are the different cities where matches have been played?

What are the unique venues where matches have taken place?

What are the total number of teams participating in the dataset?

How many matches have resulted in a tie?

Team Performance:

Which team has won the most matches overall?

Which team has won the most matches in each season?

Which team has won the most matches when batting first/batting second?

Which team has won the most matches by runs/wickets?

How does the performance of each team vary across seasons?

What is the win percentage of each team?

Match Analysis:

How many matches have been affected by the Duckworth-Lewis method?

How many matches have been won by a margin of less than 10 runs/less than 3 wickets?

How many matches have been won by the toss-winning team?

Is there any correlation between winning the toss and winning the match?

How many matches have resulted in different types of results (normal, tie, no result)?

Player Analysis:

Who are the top players with the most 'Player of the Match' awards?

Which players have contributed the most runs/wickets across all matches?

How does the performance of key players vary across seasons?

Venue Analysis:

Which venue has hosted the most number of matches?

Are there any venues where teams tend to perform better/worse?

How does the average winning margin vary across different venues?

Temporal Analysis:

How does the number of matches played vary across different seasons?

Is there any trend in the number of matches affected by the Duckworth-Lewis method over the years?

Umpire Analysis:

Who are the most frequent umpires in the dataset?

Is there any correlation between specific umpires and match outcomes?

Miscellaneous:

How does the distribution of winning margins (runs/wickets) look like?

Are there any interesting patterns or anomalies in the data that require further investigation?

### [A] General Overview:

How many matches are there in the dataset?

In [8]:
print("Total Number of matches played are :",len(match_info_data))

Total Number of matches played are : 1024

How many unique seasons are represented in the dataset?

In [9]:
print("Total number of unique seasons are :",len(list(match_info_data["season"].unique())))

Total number of unique seasons are : 16

What are the different cities where matches have been played?

In [10]:
print("Different cities where IPL matches were played :",list(match_info_data["city"].unique()))

Different cities where IPL matches were played : ['Ahmedabad', 'Chennai', 'Mumbai', 'Bengaluru', 'Kolkata', 'Delhi', 'Dharamsala', 'Hyderabad', 'Lucknow', 'Jaipur', 'Chandigarh', 'Guwahati', 'Navi Mumbai', 'Pune', 'Dubai', 'Sharjah', 'Abu Dhabi', nan, 'Visakhapatnam', 'Indore', 'Bangalore', 'Kanpur', 'Rajkot', 'Raipur', 'Ranchi', 'Cuttack', 'Kochi', 'Nagpur', 'Johannesburg', 'Centurion', 'Durban', 'Bloemfontein', 'Port Elizabeth', 'Kimberley', 'East London', 'Cape Town']

In [11]:
print("Total number of cities where IPL matches were played :",len(list(match_info_data["city"].unique())))

Total number of cities where IPL matches were played : 36

What are the unique venues where matches have taken place?

In [12]:
print("Venues for IPL matches : \n ")
print("-"*100)

all_venues_with_serial = [print(f"{i}. {venue}") for i, venue in enumerate(match_info_data["venue"].unique(),1)]

Venues for IPL matches :

----------------------------------------------------------------------------------------------------
1. Narendra Modi Stadium, Ahmedabad
2. MA Chidambaram Stadium, Chepauk, Chennai
3. Wankhede Stadium, Mumbai
4. M Chinnaswamy Stadium, Bengaluru
5. Eden Gardens, Kolkata
6. Arun Jaitley Stadium, Delhi
7. Himachal Pradesh Cricket Association Stadium, Dharamsala
8. Rajiv Gandhi International Stadium, Uppal, Hyderabad
9. Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow
10. Sawai Mansingh Stadium, Jaipur
11. Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh
12. Barsapara Cricket Stadium, Guwahati
13. Brabourne Stadium, Mumbai
14. Dr DY Patil Sports Academy, Mumbai
15. Maharashtra Cricket Association Stadium, Pune
16. Dubai International Cricket Stadium
17. Sharjah Cricket Stadium
18. Zayed Cricket Stadium, Abu Dhabi
19. Sheikh Zayed Stadium
20. Rajiv Gandhi International Stadium
21. Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium
22. MA Chidambaram Stadium
23. Punjab Cricket Association IS Bindra Stadium
24. Wankhede Stadium
25. M.Chinnaswamy Stadium
26. Arun Jaitley Stadium
27. Eden Gardens
28. Sawai Mansingh Stadium
29. Maharashtra Cricket Association Stadium
30. Holkar Cricket Stadium
31. Rajiv Gandhi International Stadium, Uppal
32. M Chinnaswamy Stadium
33. Feroz Shah Kotla
34. Green Park
35. Punjab Cricket Association IS Bindra Stadium, Mohali
36. Saurashtra Cricket Association Stadium
37. Shaheed Veer Narayan Singh International Stadium
38. JSCA International Stadium Complex
39. Brabourne Stadium
40. Punjab Cricket Association Stadium, Mohali
41. MA Chidambaram Stadium, Chepauk
42. Sardar Patel Stadium, Motera
43. Barabati Stadium
44. Subrata Roy Sahara Stadium
45. Himachal Pradesh Cricket Association Stadium
46. Dr DY Patil Sports Academy
47. Nehru Stadium
48. Vidarbha Cricket Association Stadium, Jamtha
49. New Wanderers Stadium
50. SuperSport Park
51. Kingsmead
52. OUTsurance Oval
53. St George's Park
54. De Beers Diamond Oval
55. Buffalo Park
56. Newlands

What are the total number of teams participating in the dataset?

In [13]:
all_teams = list(set(list(match_info_data["team1"].unique()) + list(match_info_data["team2"].unique())))

In [14]:
print("All IPL Teams  : \n ")
print("-"*100)

printing_ipl_teams = [print(f"{i}. {team}") for i, team in enumerate(all_teams,1)]

All IPL Teams  :

----------------------------------------------------------------------------------------------------
1. Deccan Chargers
2. Sunrisers Hyderabad
3. Royal Challengers Bangalore
4. Punjab Kings
5. Rising Pune Supergiant
6. Rising Pune Supergiants
7. Delhi Capitals
8. Gujarat Lions
9. Mumbai Indians
10. Rajasthan Royals
11. Chennai Super Kings
12. Kings XI Punjab
13. Pune Warriors
14. Kolkata Knight Riders
15. Kochi Tuskers Kerala
16. Gujarat Titans
17. Delhi Daredevils
18. Lucknow Super Giants

How many matches have resulted in a tie?

In [15]:
nan_matches = match_info_data[match_info_data["winner"].isna()]
print("Total number of tied matches :", len(nan_matches))
print("-"*100)
print("Matches where 'winner' column has NaN values:")
nan_matches

Total number of tied matches : 19
----------------------------------------------------------------------------------------------------
Matches where 'winner' column has NaN values:

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
29,1359519,2023,Lucknow,2023/05/03,Lucknow Super Giants,Chennai Super Kings,Chennai Super Kings,field,normal,0,NaN,0,0,NaN,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,AK Chaudhary,NA Patwardhan,CB Gaffaney
189,1254077,2021,Chennai,2021/04/25,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,normal,0,NaN,0,0,PP Shaw,"MA Chidambaram Stadium, Chepauk, Chennai",CB Gaffaney,KN Ananthapadmanabhan,Tapan Sharma
232,1216517,2020/21,NaN,2020/10/18,Mumbai Indians,Kings XI Punjab,Mumbai Indians,bat,normal,0,NaN,0,0,KL Rahul,Dubai International Cricket Stadium,Nitin Menon,PR Reiffel,AK Chaudhary
233,1216512,2020/21,Abu Dhabi,2020/10/18,Kolkata Knight Riders,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,NaN,0,0,LH Ferguson,Sheikh Zayed Stadium,PG Pathak,S Ravi,VK Sharma
258,1216547,2020/21,NaN,2020/09/28,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,normal,0,NaN,0,0,AB de Villiers,Dubai International Cricket Stadium,Nitin Menon,PR Reiffel,AK Chaudhary
266,1216493,2020/21,NaN,2020/09/20,Delhi Capitals,Kings XI Punjab,Kings XI Punjab,field,normal,0,NaN,0,0,MP Stoinis,Dubai International Cricket Stadium,AK Chaudhary,Nitin Menon,PR Reiffel
277,1178426,2019,Mumbai,2019/05/02,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,normal,0,NaN,0,0,JJ Bumrah,Wankhede Stadium,CK Nandan,S Ravi,A Nand Kishore
279,1178424,2019,Bengaluru,2019/04/30,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,normal,0,NaN,0,0,NaN,M.Chinnaswamy Stadium,NJ Llong,UV Gandhe,AK Chaudhary
318,1175365,2019,Delhi,2019/03/30,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field,normal,0,NaN,0,0,PP Shaw,Arun Jaitley Stadium,AY Dandekar,Nitin Menon,M Erasmus
413,1082625,2017,Rajkot,2017/04/29,Gujarat Lions,Mumbai Indians,Gujarat Lions,bat,normal,0,NaN,0,0,KH Pandya,Saurashtra Cricket Association Stadium,AK Chaudhary,CB Gaffaney,A Nand Kishore
512,829813,2015,Bangalore,2015/05/17,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,field,normal,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,PG Pathak
538,829763,2015,Bangalore,2015/04/29,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,normal,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak,C Shamshuddin
548,829741,2015,Ahmedabad,2015/04/21,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,field,normal,0,NaN,0,0,SE Marsh,"Sardar Patel Stadium, Motera",M Erasmus,S Ravi,AK Chaudhary
607,729315,2014,Abu Dhabi,2014/04/29,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,bat,normal,0,NaN,0,0,JP Faulkner,Sheikh Zayed Stadium,Aleem Dar,AK Chaudhary,VA Kulkarni
682,598017,2013,Bangalore,2013/04/16,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,field,normal,0,NaN,0,0,V Kohli,M Chinnaswamy Stadium,M Erasmus,VA Kulkarni,K Srinath
696,598004,2013,Hyderabad,2013/04/07,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,bat,normal,0,NaN,0,0,GH Vihari,"Rajiv Gandhi International Stadium, Uppal",AK Chaudhary,S Ravi,K Srinath
782,501265,2011,Delhi,2011/05/21,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,normal,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,RB Tiffin
893,419121,2009/10,Chennai,2010/03/21,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,field,normal,0,NaN,0,0,J Theron,"MA Chidambaram Stadium, Chepauk",K Hariharan,DJ Harper,S Das
958,392190,2009,Cape Town,2009/04/23,Kolkata Knight Riders,Rajasthan Royals,Kolkata Knight Riders,field,normal,0,NaN,0,0,YK Pathan,Newlands,MR Benson,M Erasmus,AM Saheba

### [B] Team Performance:

Which team has won the most matches overall?

In [16]:
match_info_data["winner"].value_counts().reset_index()

                         winner  count
0                Mumbai Indians    138
1           Chennai Super Kings    131
2         Kolkata Knight Riders    119
3   Royal Challengers Bangalore    114
4              Rajasthan Royals    101
5               Kings XI Punjab     85
6           Sunrisers Hyderabad     78
7              Delhi Daredevils     67
8                Delhi Capitals     38
9               Deccan Chargers     29
10               Gujarat Titans     23
11                 Punjab Kings     19
12         Lucknow Super Giants     17
13                Gujarat Lions     13
14                Pune Warriors     12
15       Rising Pune Supergiant     10
16         Kochi Tuskers Kerala      6
17      Rising Pune Supergiants      5

From above information, it can be said that Mumbai Indians have won most matches.

Which team has won the most matches in each season?

In [17]:
season_winner_counts = match_info_data.groupby(['season', 'winner']).size().reset_index(name='wins')
season_winner_counts

      season                       winner  wins
0    2007/08          Chennai Super Kings     9
1    2007/08              Deccan Chargers     2
2    2007/08             Delhi Daredevils     7
3    2007/08              Kings XI Punjab    10
4    2007/08        Kolkata Knight Riders     6
..       ...                          ...   ...
131     2023               Mumbai Indians     9
132     2023                 Punjab Kings     6
133     2023             Rajasthan Royals     7
134     2023  Royal Challengers Bangalore     7
135     2023          Sunrisers Hyderabad     4

[136 rows x 3 columns]

In [18]:
# Find the index of the maximum wins for each season
idx = season_winner_counts.groupby('season')['wins'].transform(max) == season_winner_counts['wins']

/tmp/ipykernel_18/4253911799.py:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  idx = season_winner_counts.groupby('season')['wins'].transform(max) == season_winner_counts['wins']

In [19]:
# Filter out the rows with maximum wins for each season
most_wins_per_season = season_winner_counts[idx]
most_wins_per_season

      season                 winner  wins
6    2007/08       Rajasthan Royals    13
10      2009       Delhi Daredevils    10
21   2009/10         Mumbai Indians    11
24      2011    Chennai Super Kings    11
38      2012  Kolkata Knight Riders    12
47      2013         Mumbai Indians    13
54      2014        Kings XI Punjab    12
60      2015    Chennai Super Kings    10
64      2015         Mumbai Indians    10
75      2016    Sunrisers Hyderabad    11
80      2017         Mumbai Indians    11
84      2018    Chennai Super Kings    11
92      2019    Chennai Super Kings    10
96      2019         Mumbai Indians    10
104  2020/21         Mumbai Indians    11
108     2021    Chennai Super Kings    11
118     2022         Gujarat Titans    12
128     2023         Gujarat Titans    11

Which team has won the most matches when batting first/batting second?

In [20]:
# Filter out matches where result is not 'normal' (i.e., disregard matches with no result)
normal_matches = match_info_data[match_info_data['result'] == 'normal']

# Count matches won by each team when batting first
batting_first_wins = normal_matches[normal_matches['win_by_runs'] > 0]['winner'].value_counts()

# Count matches won by each team when batting second
batting_second_wins = normal_matches[normal_matches['win_by_wickets'] > 0]['winner'].value_counts()

# Print the team that won the most matches when batting first
print("Team with most wins when batting first:")
print(batting_first_wins.idxmax())

# Print the team that won the most matches when batting second
print("Team with most wins when batting second:")
print(batting_second_wins.idxmax())

Team with most wins when batting first:
Mumbai Indians
Team with most wins when batting second:
Mumbai Indians

Which team has won the most matches by runs/wickets?

In [21]:
# Filter out matches where result is not 'normal' (i.e., disregard matches with no result)
normal_matches = match_info_data[match_info_data['result'] == 'normal']

# Count matches won by each team by runs
runs_wins = normal_matches[normal_matches['win_by_runs'] > 0]['winner'].value_counts()

# Count matches won by each team by wickets
wickets_wins = normal_matches[normal_matches['win_by_wickets'] > 0]['winner'].value_counts()

# Print the team that won the most matches by runs
print("Team with most wins by runs:")
print(runs_wins.idxmax())

# Print the team that won the most matches by wickets
print("Team with most wins by wickets:")
print(wickets_wins.idxmax())

Team with most wins by runs:
Mumbai Indians
Team with most wins by wickets:
Mumbai Indians

How does the performance of each team vary across seasons?

In [22]:
# Filter out matches where result is not 'normal' (i.e., disregard matches with no result)
normal_matches = match_info_data[match_info_data['result'] == 'normal']

# Group by season and team, count the matches won by each team in each season
season_team_wins = normal_matches.groupby(['season', 'winner']).size().reset_index(name='wins')

# Group by season, count the total matches played in each season
season_total_matches = normal_matches.groupby('season').size().reset_index(name='total_matches')

# Merge the two DataFrames to calculate win percentage
season_performance = pd.merge(season_team_wins, season_total_matches, on='season')

# Calculate win percentage for each team in each season
season_performance['win_percentage'] = (season_performance['wins'] / season_performance['total_matches']) * 100

# Pivot the DataFrame to have teams as columns and seasons as rows
season_performance_pivot = season_performance.pivot(index='season', columns='winner', values='win_percentage')

season_performance_pivot

winner,Chennai Super Kings,Deccan Chargers,Delhi Capitals,Delhi Daredevils,Gujarat Lions,Gujarat Titans,Kings XI Punjab,Kochi Tuskers Kerala,Kolkata Knight Riders,Lucknow Super Giants,Mumbai Indians,Pune Warriors,Punjab Kings,Rajasthan Royals,Rising Pune Supergiant,Rising Pune Supergiants,Royal Challengers Bangalore,Sunrisers Hyderabad
season,,,,,,,,,,,,,,,,,,
2007/08,14.285714,3.571429,NaN,12.500000,NaN,NaN,16.071429,NaN,10.714286,NaN,12.500000,NaN,NaN,23.214286,NaN,NaN,7.142857,NaN
2009,12.962963,16.666667,NaN,16.666667,NaN,NaN,12.962963,NaN,3.703704,NaN,9.259259,NaN,NaN,9.259259,NaN,NaN,16.666667,NaN
2009/10,15.000000,13.333333,NaN,11.666667,NaN,NaN,5.000000,NaN,11.666667,NaN,18.333333,NaN,NaN,10.000000,NaN,NaN,13.333333,NaN
2011,15.714286,8.571429,NaN,5.714286,NaN,NaN,10.000000,7.142857,10.000000,NaN,14.285714,5.714286,NaN,8.571429,NaN,NaN,12.857143,NaN
2012,13.513514,5.405405,NaN,14.864865,NaN,NaN,10.810811,NaN,16.216216,NaN,13.513514,5.405405,NaN,9.459459,NaN,NaN,10.810811,NaN
2013,15.789474,NaN,NaN,3.947368,NaN,NaN,10.526316,NaN,7.894737,NaN,17.105263,5.263158,NaN,14.473684,NaN,NaN,10.526316,11.842105
2014,16.949153,NaN,NaN,3.389831,NaN,NaN,20.338983,NaN,18.644068,NaN,11.864407,NaN,NaN,10.169492,NaN,NaN,8.474576,8.474576
2015,17.543860,NaN,NaN,8.771930,NaN,NaN,3.508772,NaN,12.280702,NaN,17.543860,NaN,NaN,12.280702,NaN,NaN,12.280702,10.526316
2016,NaN,NaN,NaN,12.500000,16.071429,NaN,7.142857,NaN,12.500000,NaN,12.500000,NaN,NaN,NaN,NaN,5.357143,14.285714,19.642857
2017,NaN,NaN,NaN,10.344828,6.896552,NaN,12.068966,NaN,13.793103,NaN,18.965517,NaN,NaN,NaN,17.241379,NaN,5.172414,13.793103
2018,19.298246,NaN,NaN,7.017544,NaN,NaN,8.771930,NaN,15.789474,NaN,10.526316,NaN,NaN,10.526316,NaN,NaN,10.526316,17.543860
2019,16.666667,NaN,15.000000,NaN,NaN,NaN,10.000000,NaN,10.000000,NaN,16.666667,NaN,NaN,8.333333,NaN,NaN,8.333333,10.000000
2020/21,10.000000,NaN,13.333333,NaN,NaN,NaN,8.333333,NaN,10.000000,NaN,18.333333,NaN,NaN,10.000000,NaN,NaN,10.000000,13.333333
2021,18.333333,NaN,15.000000,NaN,NaN,NaN,NaN,NaN,15.000000,NaN,11.666667,NaN,10.000000,8.333333,NaN,NaN,15.000000,5.000000
2022,5.405405,NaN,9.459459,NaN,NaN,16.216216,NaN,NaN,8.108108,12.162162,5.405405,NaN,9.459459,13.513514,NaN,NaN,12.162162,8.108108
2023,12.500000,NaN,6.944444,NaN,NaN,15.277778,NaN,NaN,8.333333,11.111111,12.500000,NaN,6.944444,9.722222,NaN,NaN,9.722222,5.555556

What is the win percentage of each team?

In [23]:
# Filter out matches where result is not 'normal' (i.e., disregard matches with no result)
normal_matches = match_info_data[match_info_data['result'] == 'normal']

# Count matches won by each team
team_wins = normal_matches['winner'].value_counts()

# Count total matches played by each team
total_matches = normal_matches['team1'].value_counts() + normal_matches['team2'].value_counts()

# Calculate win percentage for each team
win_percentage = (team_wins / total_matches) * 100

# Sort win percentage from highest to lowest
win_percentage_sorted = win_percentage.sort_values(ascending=False)

win_percentage_sorted

Gujarat Titans                 71.875000
Rising Pune Supergiant         62.500000
Chennai Super Kings            58.447489
Lucknow Super Giants           56.666667
Mumbai Indians                 55.870445
Kolkata Knight Riders          50.438596
Delhi Capitals                 49.350649
Rajasthan Royals               49.019608
Sunrisers Hyderabad            47.204969
Royal Challengers Bangalore    46.835443
Kings XI Punjab                45.108696
Punjab Kings                   43.902439
Gujarat Lions                  43.333333
Delhi Daredevils               41.935484
Deccan Chargers                38.666667
Kochi Tuskers Kerala           38.461538
Rising Pune Supergiants        27.272727
Pune Warriors                  26.086957
Name: count, dtype: float64